<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/styles/style.css}" rel="stylesheet" />
  <link th:href="@{/styles/login.css}" rel="stylesheet" />
  <title>Document</title>
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="4d19f38b-4151-412f-9d64-012dd72f773e";
  (function(){d=document;s=d.createElement("script");
  s.src="https://client.crisp.chat/l.js";s.async=1;
  d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>
<body>
<div class="container">
  <div class="wrapper">
    <form th:action="@{/api/authz/v1/login/}" th:object = "${users}" method="POST">
      <h1>Sign In</h1>
      <div>
        <label for="username">Username:</label>
        <input type="text" th:field = "*{username}" name="username"
               required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" th:field = "*{password}" name="password"
               required />
      </div>
      <div>
        <button type="submit">Sign In</button>
      </div>
      <hr>

      <a th:href = "@{/api/check/register}"> Registration</a>
    </form>
  </div>
</div>
</body>
</html>